.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-main-div {
    display: flex;
    flex-direction: column;
}

.href-and-logo_div{
    min-width: 288px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 288px;
}

.footer-social {
    margin-bottom: 72px;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.social-icon {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.social-icon-li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-li svg {
    fill: #f4f4fd;
}

.social-icon-li a:hover{
    background-color: #31d0aa;
}

.social-icon-li a:focus {
    background-color: #31D0AA;
}

.email-form {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}
  
.email-form label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-text-span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
    text-align: center;
}

.email-form input {
    padding: 8px 16px;
    background-color: transparent;
    width: 288px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #ffffff;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.email-form input:focus {
    background-color: transparent;
}

.email-form input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.email-form button {
    display: flex;
    background-color: #4D5AE5;
    width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.email-form button:hover {
    background-color: #404bbf;
}

.email-form svg {
    margin-left: 16px;
    fill: #ffffff;
}

@media screen and (min-width: 768px) {
    footer .container {
        width: 584px;
        display: flex;
        flex-direction: unset;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }

    .href-and-logo_div {
        margin-right: unset;
        align-items: unset;
        margin-left: unset;
        margin-bottom: unset;
        min-width: unset;
        width: 264px;
    }

    .footer-email {
        margin-left: unset;
    }

    .footer-social-text {
        text-align: unset;
    }

    .footer-social {
        margin-bottom: unset;
    }

    .email-text-span {
        text-align: unset;
    }

    .email-form {
        flex-direction: unset;
    }

    .email-form input {
        width: 264px;
    }
} 

@media screen and (min-width: 1440px)  {
    footer .container {
        width: 1158px;
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .href-and-logo_div {
        margin-right: 120px;
        margin-left: 0;
        margin-bottom: 0;
    }

    .footer-social {
        margin-bottom: 0;
    }

    .footer-main-div {
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: 140px;
    }

    .footer-email {
        margin-left: 80px;
    }
}