.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-main-div {
    display: flex;
    align-items: baseline;
}







/* 



.href-and-logo_div{
    min-width: 264px;
    margin-right: 120px;
}

.footer-logo {
    color: #4d5ae5;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    max-width: 264px;
}

.footer-social-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.social-icon {
    display: flex;
    gap: 16px;
}

.social-icon-li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-li svg {
    fill: #f4f4fd;
}

.social-icon-li a:hover{
    background-color: #31d0aa;
}

.social-icon-li a:focus {
    background-color: #31D0AA;
}

.footer-email {
    margin-left: 80px;
}

.email-form {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}
  
.email-form label {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.email-text-span {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.email-form input {
    padding: 8px 16px;
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #ffffff;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.email-form input:focus {
    background-color: transparent;
}

.email-form input::placeholder {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.email-form button {
    display: flex;
    background-color: #4D5AE5;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    padding: 8px 24px;
    font-family: "Roboto", sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
    border: none;
    margin-top: auto;
    cursor: pointer;
}

.email-form button:hover {
    background-color: #404bbf;
}

.email-form svg {
    margin-left: 16px;
    fill: #ffffff;
} */