/* .section-twoo {
    padding: 120px 0;
}

.section-twoo-ul {
    display: flex;
    gap: 24px;
}

.section-twoo-li {
    width: calc((100% - 72px) / 4);
}

.section-twoo-svg_div {
    height: 112px;
    width: 100%;
    background-color: #F4F4FD;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.section-twoo-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.section-twoo-p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-size: 16px
} */